{% extends 'template.html.twig' %}
{% block title %}
{{firstname}}{{name}}
{% endblock %}
	{% block body %}
			<h1>Avec mon amour
				{{firstname}}
				{{name}}</h1>
			<p>Bonjour Daniel Sf6</p>
		Mon url absolu est : {{ url('first') }}
{% endblock %}
